@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 992px;
}
/*--------------------
Header area styling
---------------------*/
header{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #F08D78, #F26C4F);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.nav-brand, .nav-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-brand img{
    height: 40px;
    width: 40px;
}
.nav-brand h3{
    font-family: 'Kaushan Script', cursive;
    color:#fff;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    margin-right: 10px;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}
.nav-link img{
    height: 40px;
    width: 40px;
}